### visit https://huggingface.co/settings/tokens to create an access token with READ permissions
# HUGGINGFACE_TOKEN: hf_xxxxxxxxxxxxxxx

# InvokeAI runtime directory on the host.
# It will be mounted into the container at /invokeai.
HOST_INVOKEAI_ROOT: ~/invokeai

# GPU_DRIVER defaults to `cuda`, may also equal 'cpu', or 'rocm' (untested). Used at image build time.
GPU_DRIVER: cuda

# CONTAINER_UID must correspond to your user ID on the host system, so that the files created by
# the container are owned by your user. Will likely be 1000 on Linux and 501 on Mac.
# confirm this value by running `id -u`
CONTAINER_UID=1000

# Port to expose on the container
INVOKEAI_PORT=9090